body {
  background-color: var(--bs-gray-300);
  font-family: "Roboto", sans-serif;
  color: var(--bs-gray-600);
  font-size: 1.25rem;
}

h1 {
  font-family: "Young Serif", serif;
  font-style: normal;
  color: var(--bs-gray-800) !important;
}

img {
  object-fit: cover;
  height: auto;
  max-width: 100%;
}

.container {
  max-width: 600px;
}

.row {
  align-items: start;
  margin: 0;
}

.container-main {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 8px;
}

.display-1 {
  color: var(--bs-gray-700);
}

.svg-icon {
  width: 36px;
  fill: var(--bs-gray-600);
}

a.active {
  font-weight: 800;
}

a:hover,
a:active {
  color: var(--bs-gray-800) !important;
  font-weight: 800;
}

#forecast-container {
  font-size: 14px;
  color: var(--bs-gray-600);
}
#forecast-day {
  font-size: 16px;
}
#forecast-container span {
  margin: 4px;
}
#forecast-max {
  font-weight: 600;
}
